#In ~/.ssh/config
#Send null packet to server to keep connection alive

IdentityFile ~/.ssh/id_ed25519

Host *
  ServerAliveInterval 30
  ServerAliveCountMax 60
  #Compression yes #Commented to avoid double compression when forwarding tar archives through pipes

#https://puppet.com/blog/speed-up-ssh-by-reusing-connections/
#This allows opening a ssh session on a terminal, and then every subsequent ssh connection reuses the same over
#Using this to overcome the low ConnectTimout setting when VSCode attemps to connect a server

Host *.gmetri.io *.lan dev-sahil
  ControlMaster auto
  ControlPath ~/.ssh/%r@%h-%p_%n
  ControlPersist 600

Host socks-proxy
  ControlMaster auto
  ControlPath ~/.ssh/socks-tunnel

#Don't forward agent here, use the local key installed on the host instead of forwarding ssh-agent. Also ProxyJump does not need ForwardAgent.
#Setup dynamic forwards - fixed control path required for custom proxy bin commands

# #To use Tata
#Host socks-proxy dev-sahil
#  HostName tata.gmetri.io
#  User gmetri
#  Port 2311

#To use Spectra
Host dev-sahil
  HostName 10.0.3.11
  User gmetri
  ProxyJump bastion

Host socks-proxy bastion
  HostName spectra.gmetri.io
  User gmetri
  Port 2311
